<nav>
    <div class="nav-icon">
        <a href="/">
            <img src="https://cdn.discordapp.com/attachments/1091090710574407682/1093722075363020810/b6e883be-b6f9-4755-b159-bd840c5611a7.jpg" alt="">
            <p>Hoje</p>
        </a>
    </div>
    <a href="#">
        <div class="nav-icon">

            <img src="https://cdn.discordapp.com/attachments/1091090710574407682/1093674017740824586/35225d07-7734-4b0b-938c-3a31018ee3f2.jpg"
                alt="">
            <p>Leitura</p>

        </div>
    </a>
    <a href="#">
        <div class="nav-icon">
            <img src="https://cdn.discordapp.com/attachments/1091090710574407682/1093400673917337710/5e64942e-f67d-4e9c-93e3-8bef44b5d25a.jpg"
                alt="">
            <p>Estudo</p>
        </div>
    </a>
    <a href="#">
        <div class="nav-icon"><img
                src="https://cdn.discordapp.com/attachments/1091090710574407682/1093679612363538512/4f6da7e2-7e81-4245-872c-707f2ce80701.jpg"
                alt="">
            <p>Jornada</p>
        </div>
    </a>
   
</nav>