    <a href="/">
        <div class="nav-icon">

            <img src="/images/today.png"
                alt="">
            <p>Hoje</p>

        </div>
    </a>
    <a href="/reading">
        <div class="nav-icon">

            <img src="/images/readings.png"
                alt="">
            <p>Leitura</p>

        </div>
    </a>
    <a href="/study">
        <div class="nav-icon">
            <img src="/images/study.png"
                alt="">
            <p>Estudo</p>
        </div>
    </a>
    <a href="#">
        <div class="nav-icon"><img
                src="/images/journey.png"
                alt="">
            <p>Jornada</p>
        </div>
    </a>
    <a href="/ephemeris">
        <div class="nav-icon"><img
                src="/images/calendar.png"
                alt="">
            <p>Efemérides</p>
        </div>
    </a>