<nav>
  <img src="https://cdn.discordapp.com/attachments/1091090710574407682/1093670789108224120/3c94dac6-2186-4173-a8b2-2665a23b0740.jpg" alt="">
  <h1>Arcanno</h1>
  <img src="https://cdn.discordapp.com/attachments/1091090710574407682/1093673204775665716/3a20c7a1-3c6b-424c-bf1d-665588d852ee.jpg" alt="">
</nav>