/* Importing fonts */
@font-face {
  font-family: Beholder;
  src: url('/fonts/beholder.ttf');
}

@font-face {
  font-family: Valiant;
  src: url('/fonts/prince_valiant.ttf');
}

@font-face {
  font-family: AstroDot;
  src: url('/fonts/astro_dot_basic.ttf');
}

/* Page Elements */

body {
  background-color: #2D033B;
  background-image: url('/images/background.png');
  display: grid;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-rows: 10vh auto 10vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

header, footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-content: center;
}

header a, footer a {
  text-decoration: none;
  color: goldenrod;
}

header img, footer img {
  height: 7vh;
  aspect-ratio: 1/1;
}

header p, footer p {
  font-size: 0.5em;
}

header {
  justify-content: space-between;
  border-bottom: 2px goldenrod solid;
  background-color: #2D033B;
}

footer {
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: #2D033B;
  padding: 1vh;
  border-top: 2px goldenrod solid;
}



/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: goldenrod;
}

h1 {
  font: bold 2em 'Beholder', Helvetica, Arial, sans-serif;
  text-align: center;

}

h2 {
  font: bold 1.8em 'Valiant', Helvetica, Arial, sans-serif;
  text-align: center;

}

h4 {
  font: bold 1.2em Helvetica, Arial, sans-serif;
}

/* Settings menu */
.offcanvas-header {
  background-color: #110316;
  color: goldenrod;
}

.offcanvas-body {
  background-color: #2D033B;
  color: goldenrod;
}

.offcanvas-body span {
  background: rgb(243, 193, 68);
  color: #110316;
  border-radius: 3px;
  padding: 0 0.5em;
}

.key-span{
  background-color: #8800bb;
  padding: 0.2em 0.4em;
  margin: 0.2em;
  border-radius: 5px;
}


/* Mainframes */

main {
  width: 100vw;
  padding-bottom: 11vh;
  opacity: 0.9;
  align-items: center;
  align-content: center;
  background-color: #110316;
  color: whitesmoke;
}

main nav ul {
  list-style: none;
  margin: 0;

  display: flex;
  background-color: #0a040c;
  color: whitesmoke;
  padding: 0.5em;
  justify-content: stretch;
  font-size: 0.8em;
  font-weight: 600;
}

main nav li {
  margin: 0 1rem;
}

main nav a {
  text-decoration: none;
  color: goldenrod;
}

main nav a.active {
  font-weight: bold;
  border-bottom: goldenrod 1.5px solid;
}

.content {
  display: none;
  margin-top: 1em;
}

.content.active {
  display: block;
}

.content ul {
  margin: 0;
  padding: 0;
}

.content li {
  list-style: none;

}

.content li:nth-child(even) {
  background-color: #2D033B;
}

.content li:nth-child(odd) {
  background-color: #480561;
}

.content li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  text-decoration: none;
  color: goldenrod;
}

.content li img {
  height: 80%;
  margin: 0 1em;
}

.content li p {
  font-size: 1.8em;
  margin-bottom: 0;
}
.text-justified{
  text-align: justify;
}

.text-color-1{
color: goldenrod;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  max-width: 100%; 
}
.image-container img {
  flex: 1 1 20%; 
  max-width: 100%; 
}
.card{
  background: none;
}
.card .card-text{
  font-size: 0.7em;
}
.card .card-img-top{
  width: 70px;
}
/* Sections */

#under-construction-img {
  height: 50vh;
}


/* IFrame */

iframe {
  width: 100%;
}


/* Assets */
a {
  text-decoration: none;
}

hr {
  margin: 0;
  border-top: goldenrod 2px solid;
  margin-top: 1em;
}

.btn-group {
  font: bold 8px 'Valiant', Helvetica, Arial, sans-serif;
}

.nav-icon {
  text-align: center;
}

.circle-container {
  width: 50%;
  padding-top: 50%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: goldenrod 2.5px solid;
}

.circle-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clock {
  margin-top: 0.5em;
  border: goldenrod 2.5px solid;
  background-color: #8800bb;
}

.astro_planet {
  font-family: AstroDot;
  font-size: 2.5em;
  margin:0 0.2em;
}
.read-page-img{
width: 5em;
}

/* Responsivity */

@media only screen and (min-width: 1025px) {
  body {
    padding: 0 5vw;

  }

  .nav-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    justify-items: stretch;
  }

  .nav-icon p {
    font-size: 2em;
    margin-left: 0.5em;

  }

  header, footer, main {
    width: 90vw;
  }
}