@font-face {
  font-family: Beholder;
  src: url('/fonts/beholder.ttf');
}

@font-face {
  font-family: Valiant;
  src: url('/fonts/prince_valiant.ttf');
}

body {
  background-color: #2D033B;
  display: grid;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
  width: 100vh;
  margin: 0;
}

header, footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  align-content: center;
  color: gold;
}

header a, footer a {
  text-decoration: none;
  color: gold;
}

header img, footer img {
  height: 7vh;
  aspect-ratio: 1/1;
}

header p, footer p {
font-size: 0.5em;
}

header{
  justify-content: space-between;
}

footer{
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: #2D033B;
  padding: 1vh;
}

.nav-icon{
  text-align: center;
}

main{
  width: 100vw;
  margin-bottom: 10vw;
}

main>div{
  margin: 1vh 2vw;
  border: gold solid 2px;
  border-radius: 10px;
  background-color: white;
  padding: 0.5em;
  width: 96vw;
  
}



/* Titles */
h1 {
  font: bold 2em 'Beholder', Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  font: bold 1.8em 'Valiant', Helvetica, Arial, sans-serif;
  text-align: center;
}

/* Main pages */

/* Buttons */
.btn-group{
  font: bold 8px 'Valiant', Helvetica, Arial, sans-serif;
}