@font-face {
  font-family: Beholder;
  src: url('/fonts/beholder.ttf');
}

@font-face {
  font-family: Valiant;
  src: url('/fonts/prince_valiant.ttf');
}

body {
  background-color: #2D033B;
  display: grid;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-rows: 10vh auto 10vh;
  height: 100vh;
  width: 100vh;
  margin: 0;
}

header, footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  align-content: center;
  color: gold;
}

header a, footer a {
  text-decoration: none;
  color: gold;
}

header img, footer img {
  height: 7vh;
  aspect-ratio: 1/1;
}

header p, footer p {
  font-size: 0.5em;
}

header {
  justify-content: space-between;
  border-bottom: 2px gold solid;
}

footer {
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: #2D033B;
  padding: 1vh;
  border-top: 2px gold solid;
}

.nav-icon {
  text-align: center;
}

/* Main pages */

main {
  width: 100vw;
  padding-bottom: 11vh;
  
  
  background-color: #110316;
  color: goldenrod;
}

nav ul {
  list-style: none;
  margin: 0;
  
  display: flex;
  background-color: #0a040c;
  color: whitesmoke;
  padding: 0.5em;
  justify-content: stretch;
  font-size: 0.8em;
  font-weight: 600;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: goldenrod;
}

nav a.active {
  font-weight: bold;
  border-bottom: goldenrod 1.5px solid;
}

.content {
  display: none;
  margin-top: 1em;
}

.content.active {
  display: block;
}
.content ul{
  margin: 0;
  padding: 0;
}
.content li{
  list-style: none;
  
}
.content li:nth-child(even) {
  background-color: #2D033B;
}

.content li:nth-child(odd) {
  background-color: #480561;
}

.content li a{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  text-decoration: none;
  color: goldenrod;
}

.content li img{
  height: 80%;
  margin:0 1em;
}

.content li p{
  font-size: 1.8em;
  margin-bottom: 0;
}


/* Titles */
h1 {
  font: bold 2em 'Beholder', Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  font: bold 1.8em 'Valiant', Helvetica, Arial, sans-serif;
  text-align: center;
}

/* Buttons */
.btn-group {
  font: bold 8px 'Valiant', Helvetica, Arial, sans-serif;
}

/* Sections */

#under-construction-img{
  height: 50vh;
}

/* IFrame */

iframe {
  width: 100vw;
}